<h1>{{country}}, {{city}}</h1>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<table border="1px">
  
  <thead>
    <th>País</th><th>Ciudad</th><th>Codigo Postal</th><th>Region</th><th>Capital País</th><th>Continente</th><th>Latitud</th><th>Longitud</th>
  </thead>
  <tbody>
    <td>España</td><td>Madrid</td><td>28232</td><td>Madrid</td><td>Madrid</td><td>Europa</td><td>40.42618179321289</td><td>-3.6851398944854736</td>
  </tbody>
</table>